* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 183, 105);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;
    height: 100vh;
    text-align: center; */
    /* border: black solid 3px; */
}

.başlık {
    padding: 30px;
    color: brown;
    font-size: 2em;
}

#degeri-al {
    border: none;
    /* width: 70%; */
    height: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(215, 235, 235);
    color: brown;
    font-weight: bold;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 15px;
    margin: 30px;
}

.button-group button {
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
}

#programla {
    background-color: brown;
    color: white;
}

#start {
    background-color: rgb(36, 230, 36);
    color: white;
}

#stop {
    background-color: red;
    color: white;
}

.durum {
    display: none;
}

.gorun {
    display: block;
}

.kutu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: brown solid 3px;
    background-color: cornflowerblue;
    height: 100px;
    width: 25%;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    font-size: 2em;
}